<footer class="footer">

    <div class="wrap-footer">
        <div >
            <h3 class="main-c">¡YaviAgenda!</h3>
           <small> <p>"Optimiza tu productividad y organiza tu semana de manera eficiente con nuestra innovadora agenda de tareas, nunca 
            pierdas de vista tus objetivos. ¡Descubre una nueva forma de gestionar tu tiempo y alcanzar tus metas!"</p>
            <br> <p>©2024 · Todos los derechos reservados.</p></small>
        </div>
        <div style=" display: flex; align-items: center; justify-content: center;">
            <a href="https://yavirac.edu.ec/" target="_blank" rel="nofollow noopener noreferer">
                <img src="../../assets/img/logo.png" alt="Logo" width="150px" style="display: block; margin: auto;">
            </a>
        </div>
    </div>
   
</footer>