<nav class="navbar navbar-success bg-success fixed-top p-2">
  <div class="container">
    <a class="navbar-brand mr-4" routerLink="/inicio">
      <img src="../../../assets/img/logo.png" width="150px" height="90px" class="d-inline-block align-top" alt="Logo">
    </a>
    <div class="ml-auto">
      <a class="btn btn-secondary mr-4" style="width: 120px; height: 35px; margin-right: 20px;"
        routerLink="/login">Iniciar Sesión</a>
      <a class="btn btn-secondary mr-4" style="width: 120px; height: 35px;" routerLink="/registro">Registrarse</a>

    </div>
  </div>
</nav>


<section>
  <carousel [interval]="2000" [noPause]="false">
    <slide>
      <img src="../../../assets/img/1.png" alt="imagen1" style="width: 100%; height: 500px;">
    </slide>
    <slide>
      <img src="../../../assets/img/2.jpg" alt="imagen2" style="width: 100%; height: 500px;">
    </slide>
    <slide>
      <img src="../../../assets/img/3.jpg" alt="imagen3" style="width: 100%; height: 500px;">
    </slide>
  </carousel>
</section>
<section>

  <h1 class="text-center  text-white py-4" style="background-color: #10454F;">YaviAgendaPro</h1>
</section>
<section>
  <div class="derecha">
    <b>
      <h1>¿Quienes Somos?</h1>
    </b>
    <p>

      ¡Bienvenido a YaviAgendaPro, tu aliado digital para una gestión efectiva del tiempo y las tareas en grupo! En
      YaviAgendaPro, nos dedicamos a facilitar tu día a día,
      ofreciéndote una herramienta intuitiva y potente que te permitirá organizar tus actividades de manera eficiente.
      <br>
      Con nuestra plataforma, podrás asignar tareas a cada miembro de tu equipo, establecer fechas límite desde y hasta,
      y garantizar una coordinación perfecta para lograr
      los objetivos en conjunto.
      <br>
      Simplificamos la planificación semanal, permitiéndote concentrarte en lo que realmente importa.
      Descubre la comodidad de tener todo bajo control con YaviAgendaPro.
      <br>
      ¡Optimiza tu tiempo y maximiza la productividad con nosotros!
      <br>
    </p>


    <b>
      <h3>Misión</h3>
    </b>
    <p><br>
      Facilitar la productividad y la colaboración, permitiéndote gestionar tus tareas de manera sencilla y brindándote
      el control total sobre tu agenda semanal.
    </p><br>
    <b>
      <h3>Visión</h3>
    </b>
    <p><br>
      Ser la plataforma líder en la gestión de tareas y tiempo, ofreciendo constantes innovaciones que se adapten a las
      necesidades cambiantes de nuestros usuarios.
    </p><br>
    <br>
    <a class="btn btn-success btn-lg py-2 w-100 text-center" routerLink="/login">Empezar!</a>

  </div>
  <aside>
    <b>
      <h1>Planificación de Tareas</h1>
    </b>
    <p>
      <img src="../../../assets/img/aside.png" alt="aside" style="width: 100%; height: 400px;">

    </p>


  </aside>
</section>



<div class="productos bg-light">
  <div class="card2">
    <h4 class="text-center"><b>Facilidad de Uso:</b></h4><br>
    <img src="../../../assets/img/facil_uso.jpg" alt="Avatar" class="imgCard2" /><br>
    <div>
      <p>
        En YaviAgendaPro, dedicamos nuestros esfuerzos a garantizar que nuestra herramienta sea completamente accesible
        para todos los usuarios, sin importar su nivel de experiencia. Desde aquellos que dan sus primeros pasos en la
        gestión del tiempo hasta los expertos en proyectos más experimentados, nos esforzamos por proporcionar una
        interfaz intuitiva y funcional que simplifique cada aspecto de la organización semanal. Creemos que la facilidad
        de uso es la clave para una experiencia positiva, y trabajamos constantemente en mejoras para asegurar que todos
        los usuarios puedan aprovechar al máximo YaviAgendaPro.
      </p>
    </div>
  </div>
  <div class="card2">
    <h4 class="text-center"><b>Colaboración:</b></h4><br>
    <img src="../../../assets/img/colaboracion.jpg" alt="Avatar" class="imgCard2" /><br>
    <div>
      <p>
        En YaviAgendaPro, no solo valoramos la colaboración, la consideramos fundamental. Creemos en el poder de unir
        esfuerzos y fomentamos activamente la colaboración efectiva y el intercambio de ideas entre equipos. Nuestra
        plataforma está diseñada para ser un espacio donde la comunicación fluye sin problemas, permitiendo que los
        miembros del equipo trabajen juntos de manera armoniosa. Desde la asignación de tareas hasta la discusión de
        proyectos, YaviAgendaPro está aquí para hacer que la colaboración sea una experiencia fluida y productiva para
        todos los usuarios.
      </p>
    </div>
  </div>
</div>


<div class="separadorPag bg-secondary">
  <h2 class="text-center">¡Gracias por elegir YaviAgendaPro para optimizar tu organización y productividad!</h2>
</div>


<div class="container mt-4">
  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-4 mb-3">
      <!-- Add 'col-md' to set the width for medium-sized screens and above -->
      <div class="card" style="width: 370px; height: 600px;">
        <img src="../../../assets/img/gratis.jpg" class="card-img-top" alt="..." style="height: 185px;">
        <div class="card-body text-center d-flex flex-column justify-content-between"
          style="padding: 15px; height: 100%;">
          <h4 class="card-title"><b>GRATUITO</b></h4>
          <p class="card-text">
            En YaviAgendaPro, creemos en el acceso universal a una herramienta efectiva de organización, por lo que
            ofrecemos nuestra plataforma de manera gratuita. Creemos que la productividad no debería tener barreras
            financieras, y es por eso que YaviAgendaPro está disponible para todos sin importar el presupuesto.
          </p>
          <a class="btn btn-success btn-lg py-2" routerLink="/login">Empezar!</a>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4 mb-3">
      <!-- Add 'col-md' to set the width for medium-sized screens and above -->
      <div class="card" style="width: 370px; height: 600px;">
        <img src="../../../assets/img/es_gratis.png" class="card-img-top" alt="..." style="height: 300px;">
        <div class="card-body text-center d-flex flex-column justify-content-between"
          style="padding: 15px; height: 100%;">
          <h4 class="card-title"><b>FÁCIL DE USAR</b></h4>
          <p class="card-text">
            Simplificamos la gestión del tiempo con una interfaz intuitiva que se adapta a todos los usuarios.
            YaviAgendaPro te guía de manera amigable a través de la creación de grupos, asignación de tareas y
            seguimiento del progreso. La facilidad de uso es nuestra prioridad para que puedas concentrarte en lo que
            realmente importa: tus tareas y metas.
          </p>
          <a class="btn btn-success btn-lg py-2" routerLink="/login">Empezar!</a>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4 mb-3">
      <!-- Add 'col-md' to set the width for medium-sized screens and above -->
      <div class="card" style=" display: flex; align-items: center; justify-content: center;">
        <img src="../../../assets/img/LogoAgenda.png" class="card-img-top" alt="..." style="width: 200px;">
        <div class="card-body text-center d-flex flex-column justify-content-between"
          style="padding: 15px; height: 100%;">
          <h4 class="card-title"><b>ACERCA DE YAVIAGENDAPRO:</b></h4><br>
          <p class="card-text">
            YaviAgendaPro es desarrollado por estudiantes de Desarrollo de Software del Instituto Superior Yavirac,
            dedicada a proporcionar soluciones innovadoras para la gestión del tiempo y tareas. Nos enorgullece ofrecer
            una herramienta que simplifica la vida de individuos y equipos de trabajo.
          </p><br><br><br><br>
          <a class="btn btn-success btn-lg py-2" routerLink="/login">Empezar!</a>
        </div>
      </div>
    </div>
  </div>
</div>




<footer class="footer">

  <div class="wrap-footer">
      <div >
          <h3 class="main-c">¡YaviAgenda!</h3>
         <small> <p>"Optimiza tu productividad y organiza tu semana de manera eficiente con nuestra innovadora agenda de tareas, nunca 
          pierdas de vista tus objetivos. ¡Descubre una nueva forma de gestionar tu tiempo y alcanzar tus metas!"</p></small>
      </div>
      <div  >
          <h5>Más Información</h5>
          <ul>
              <li><a  href="/inicio">Inicio</a></li>
              <li><a  href="/inicio">Quienes Somos</a></li>
              <li><a  href="/inicio">Misión</a></li>
              <li><a  href="/inicio">Visión</a></li>             
          </ul>
      </div>
      <div style=" display: flex; align-items: center; justify-content: center;">
          <a href="https://yavirac.edu.ec/" target="_blank" rel="nofollow noopener noreferer">
              <img src="../../assets/img/logo.png" alt="Logo" width="150px" style="display: block; margin: auto;">
          </a>
      </div>
  </div>
  <div class="footer-creds">
      <div class="copy-creds">
          <p>©2024 · Todos los derechos reservados.</p>
      </div>
      <div class="legal-creds">
          <ul>
              <li><a href="/politica-privacidad">Política de Privacidad</a></li>
              <li><a href="/politica-cookies">Política de Cookies</a></li>
              <li><a href="/aviso-legal">Aviso Legal</a></li>
          </ul>
      </div>
  </div>
  <br>
</footer>