<app-navbar></app-navbar>

<style>
    /* Agrega tu estilo personalizado aquí si es necesario */
    body {
      padding-top: 56px; /* Ajuste para el navbar fijo en la parte superior */
    }
  </style>



  <!-- Contenido principal -->
  <header class="py-5">
    <div class="container">
      <h1 class="display-4">Bienvenido a Mi Sitio</h1>
      <p class="lead">Un lugar increíble para descubrir cosas interesantes.</p>
    </div>
  </header>

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="display-4">Nuestra Misión</h2>
          <p class="lead">Proporcionar contenido de calidad para nuestros visitantes y crear experiencias increíbles.</p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded-circle" src="https://via.placeholder.com/400" alt="Imagen de muestra">
        </div>
      </div>
    </div>
  </section>

  <!-- Pie de página -->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">© 2023 Mi Sitio</p>
    </div>
  </footer>

