<div class="wrapper">
  <div *ngIf="!loading" class="card mb-3">
    <div  class="card-body">
      <div class="bg-success col-lg-12 rounded-t-5 px-md-5 py-2">
        <h4 class="text-white text-center">YAVI AGENDA PRO</h4>
      </div>
      <img class="logo" src="../../../assets/img/login.png" alt="Login">
      <h1>Recuperar Contraseña</h1>
      <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
          <div class="form-floating mb-3">
              <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
              <label >Correo electrónico</label>
              <span class="text-danger errorLabel" *ngIf="recuperarUsuario.get('email')?.hasError('required') && recuperarUsuario.get('email')?.touched">
                El <strong>correo electrónico</strong> es requerido.
              </span>
              <span class="text-danger errorLabel" *ngIf="recuperarUsuario.get('email')?.hasError('email') && recuperarUsuario.get('email')?.touched">
                El <strong>correo electrónico</strong> es invalido.
              </span>
            </div>
            
            <div class="d-grid gap-2 mb-3">
              <button class="btn btn-primary btn-lg" [disabled]="recuperarUsuario.invalid" type="submit">Recuperar</button>
            </div>
            <a routerLink="/login">Volver</a>
      </form>
    </div>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>

</div>
