<nav class="navbar navbar-dark bg-secondary">
  <div class="container">
    <a class="navbar-brand mr-4" routerLink="/inicio">
      <img src="../../../assets/img/logo.png" width="150px" height="80px" class="d-inline-block align-top" alt="Logo">
    </a>
    <div class="ml-auto">
      <a class="btn btn-primary mr-4"  style="width: 100px; height: 35px;" routerLink="/inicio" >Inicio</a>

    </div>
  </div>
</nav>


<div class="wrapper">
  <section class=" text-center text-lg-start">
    <div *ngIf="!loading" class="card mb-3">
      <div class="bg-success col-lg-12 rounded-t-5 px-md-5 py-2">
        <h2 class="text-white text-center">YAVI AGENDA PRO</h2>
      </div>

      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-6 d-none d-lg-flex">
          <img src="../../../assets/img/portada.jpg" alt="Trendy Pants and Shoes"
            class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
        </div>
        <div class="col-lg-6">
          <div class="card-body py-5 px-md-5">
            <form (ngSubmit)="login()" [formGroup]="loginUsuario">
              <h3 class="text-center">
                INGRESAR CREDENCIALES
              </h3>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
                <label>Correo electrónico</label>
                <span class="text-danger errorLabel"
                  *ngIf="loginUsuario.get('email')?.hasError('required') && loginUsuario.get('email')?.touched">
                  El <strong>correo electrónico</strong> es requerido.
                </span>
                <span class="text-danger errorLabel"
                  *ngIf="loginUsuario.get('email')?.hasError('email') && loginUsuario.get('email')?.touched">
                  El <strong>correo electrónico</strong> es invalido.
                </span>
              </div>
              <!-- En el formulario de inicio de sesión -->
<div class="form-floating mb-3 password-container">
  <input type="{{ passwordVisible ? 'text' : 'password' }}" class="form-control" formControlName="password" placeholder="Password">
  <label>Contraseña</label>
  <span class="eye-icon" (click)="togglePasswordVisibility()">
    <i [class]="passwordVisible ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
  </span>
  <span class="text-danger errorLabel"
    *ngIf="loginUsuario.get('password')?.hasError('required') && loginUsuario.get('password')?.touched">
    La <strong>contraseña</strong> es requerida.
  </span>
  <span class="text-danger errorLabel"
    *ngIf="loginUsuario.get('password')?.hasError('minlength') && loginUsuario.get('password')?.touched">
    La <strong>contraseña</strong> debe contener al menos 8 caracteres.
  </span>
</div>

              
              <p class="mt-3">No tienes cuenta? <a routerLink="/registro">Registrarse</a></p>
              <div class="d-grid gap-2">
                <button class="btn btn-success btn-lg" type="submit">Ingresar</button>
              </div>
              <a class="mt-3" routerLink="/recuperar-password">Recuperar Contraseña</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-spinner *ngIf="loading"></app-spinner>
</div>