<app-navbar></app-navbar>
<div class="wrapper">

 <div *ngIf="!loading" class="card">
      <div  class="card-body">
            <h1>Crear Tareas</h1>
            <span *ngIf="enviado && (crearTareas.get('integrantes')?.invalid && !crearTareas.get('integrantes')?.hasError('required'))">
      TODOS LOS CAMPOS SON OBLIGATORIOS
    </span>
    <form [formGroup]="crearTareas" (ngSubmit)="agregarEditarTareas()">
      <div class="form-floating mb-3">
        <input type="nombre" class="form-control" formControlName="nombre" placeholder="Ejm: Realizar un Crud">
        <label>Nombre de la Tarea</label>
        <span class="text-danger errorLabel"
          *ngIf="crearTareas.get('nombre')?.hasError('required') && crearTareas.get('nombre')?.touched">
          El <strong>nombre de la tarea</strong> es obligatorio.
        </span>
      </div>

      <div class="form-floating mb-3">
        <input type="descripcion" class="form-control" formControlName="descripcion" placeholder="Ejm: Crear una crud de empleados">
        <label>Descripción</label>
        <span class="text-danger errorLabel"
          *ngIf="crearTareas.get('descripcion')?.hasError('required') && crearTareas.get('descripcion')?.touched">
          La <strong>descripcion</strong> es obligatoria.
        </span>
        <span class="text-danger errorLabel"
          *ngIf="crearTareas.get('descripcion')?.hasError('maxlength') && crearTareas.get('descripcion')?.touched">
          La <strong>descripcion</strong> no puede tener más de 255 caracteres.
        </span>
      </div>

      <div class="d-flex justify-content-start mb-3">
        <button type="button" class="btn btn-primary" (click)="agregarIntegrante()">Agregar Integrante</button>
      </div>
      
      <div class="form-floating mb-3">
        <select class="form-select" formControlName="integrantes">
          <option value="" disabled selected>Selecciona un integrante</option>
          <ng-container *ngFor="let grupo of listaGrupos">
            <ng-container *ngFor="let integrante of grupo.integrantes">
              <option [value]="integrante">{{ integrante }}</option>
            </ng-container>
          </ng-container>
        </select>
        <span class="text-danger errorLabel"
          *ngIf="crearTareas.get('integrantes')?.hasError('required') && crearTareas.get('integrantes')?.touched">
          Debe seleccionar un <strong>integrante</strong>.
        </span>
      </div>

      <div class="form-floating mb-3" *ngIf="listaIntegrantes.length > 0">
        <label>Integrante del grupo</label>
        <select class="form-select" formControlName="integrantes">
          <option value="" disabled selected>Selecciona un integrante</option>
          <option *ngFor="let integrante of listaIntegrantes" [value]="integrante">{{ integrante }}</option>
        </select>
        <span class="text-danger errorLabel"
          *ngIf="crearTareas.get('integrantes')?.hasError('required') && crearTareas.get('integrantes')?.touched">
          Debe seleccionar un <strong>integrante</strong>.
        </span>
      </div>

      <div class="form-floating mb-3">
        <div class="correos-container">
          <div *ngFor="let correo of correosIntegrantes" class="correo-etiqueta">
            <span>{{ correo }}</span>
            <button type="button" class="btn btn-link" (click)="eliminarCorreo(correo)">x</button>
          </div>
        </div>
      </div>

      <div class="form-floating mb-3">
        <input type="date" class="form-control" formControlName="fechaInicio" placeholder="Fecha de inicio">
        <label>Fecha de inicio de la Tarea</label>
        <span class="text-danger errorLabel"
          *ngIf="crearTareas.get('fechaInicio')?.hasError('required') && crearTareas.get('fechaInicio')?.touched">
          La <strong>fecha de inicio</strong> es obligatoria.
        </span>
        <span class="text-danger errorLabel"
          *ngIf="crearTareas.get('fechaInicio')?.hasError('fechaInvalida') && crearTareas.get('fechaInicio')?.touched">
          La <strong>fecha de inicio</strong> no puede ser menor a la actual.
        </span>
      </div>
      
      <div class="form-floating mb-3">
        <input type="date" class="form-control" formControlName="fechaFin" placeholder="Fecha de fin">
        <label>Fecha de finalización</label>
        <span class="text-danger errorLabel"
          *ngIf="crearTareas.get('fechaFin')?.hasError('required') && crearTareas.get('fechaFin')?.touched">
          La <strong>fecha de finalización</strong> es obligatoria.
        </span>
        <span class="text-danger errorLabel"
          *ngIf="crearTareas.get('fechaFin')?.hasError('fechaInvalida') && crearTareas.get('fechaFin')?.touched">
          La <strong>fecha de finalización</strong> no puede ser menor a la actual.
        </span>
        <span class="text-danger errorLabel"
          *ngIf="crearTareas.get('fechaFin')?.hasError('fechaFinMenorQueInicio') && crearTareas.get('fechaFin')?.touched">
          La <strong>fecha de finalización</strong> no puede ser menor que la fecha de inicio.
        </span>
      </div>
      
      <div class="form-floating mb-3">
        <select class="form-select" formControlName="prioridad">
          <option value="" disabled selected>Selecciona una prioridad</option>
          <option value="Baja">Baja</option>
          <option value="Media">Media</option>
          <option value="Alta">Alta</option>
        </select>
        <span class="text-danger errorLabel" *ngIf="crearTareas.get('prioridad')?.hasError('required') && crearTareas.get('prioridad')?.touched">
          La <strong>prioridad</strong> es obligatoria.
        </span>
      </div>

      <div class="form-floating mb-3">
        <select class="form-select" formControlName="estado">
          <option value="" disabled selected>Selecciona el estado</option>
          <option value="Trabajo en Progreso" selected>Trabajo en Progreso</option>
        </select>
        <span class="text-danger errorLabel" *ngIf="crearTareas.get('estado')?.hasError('required') && crearTareas.get('estado')?.touched">
          El <strong>estado</strong> es obligatorio.
        </span>
      </div>
      
      <!-- Botones Volver y Enviar -->
      <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-danger" routerLink="/calendario">Volver</button>
        <button type="submit" class="btn btn-success" formControlName="enviarButton" [disabled]="crearTareas.invalid">Enviar</button>
      </div>
    </form>
  </div>
</div>
  <!-- Section: Design Block -->
  <app-spinner *ngIf="loading"></app-spinner>
</div>
