<app-navbar></app-navbar>
<br>
<div class="fondo">
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="text-center">
        <h3> Lista de Grupos </h3>
        </div>
      <table class="table mt-5 table-striped">
        <thead>
          <tr >
            <button class="btn btn-success btn-lg " routerLink="/crear-grupos"> + Crear </button>
          </tr>
          <tr>
            <th>N°</th>
            <th>Nombre Grupo</th>
            <th>Descripción Grupo</th>
            <th>Integrantes</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let grupo of grupos; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ grupo.nombre }}</td>
            <td>{{ grupo.descripcion }}</td>
            <td>{{ grupo.integrantes }}</td>
            <td>{{ grupo.fechaInicio }}</td>
            <td>{{ grupo.fechaFin }}</td>
            <td>
              <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/editarGrupos/', grupo.id]"></i>
              <i (click)="deleteGrupo(grupo.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
            </td>
          </tr>
         
          
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

