.correos-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .correo-etiqueta {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px; /* Ajusta el tamaño de fuente según tus preferencias */
  }
  
  .correo-etiqueta span {
    padding: 5px;
    background-color: #e0e0e0;
    border-radius: 5px;
  }
  
  .correo-etiqueta button {
    margin-left: 1px; /* Ajusta el margen izquierdo según tus preferencias */
    color: red;
    cursor: pointer;
    border: none;
    background: none;
  }
  